.loading {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border-top: 9px solid #00987b;
    border-bottom: 9px solid #00987b;
    border-left: 9px solid #45bea7;
    border-right: 9px solid #45bea7;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}